nav ul li {
    margin-right: 20px;
}
 
nav ul li a {
    color: #fff;
    text-decoration: none;
}
 
nav ul li a:hover {
    text-decoration: underline;
}
 
.content {
    padding: 20px;
}
 
footer {
    background-color: #0056b3; /* Color del fondo del pie de página */
    color: #fff;
    padding: 10px;
    text-align: center;
}
